h3{
    padding-top:10px;
    margin: 10px;
 font-size: 150%;
}
p{
    padding-left: 25px;
    padding-right: 40px;
    font-size: 150%;
}
img{
    float: right;
}
h1{
    background-color: rgb(29, 51, 90);
    color: white;
}
h2{
    padding-left: 10px;
    padding-top:50px;
    font-size: 200%;
    color: rgb(29, 51, 90);
}
b{
    font-size:110%; 
}
table{
    float:right;
    border-radius: 10px;
    padding:20px;
    background-color:rgb(175, 182, 190);
}
